<%= form_for(@stre) do |f| %>
  <% if @stre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stre.errors.count, "error") %> prohibited this stre from being saved:</h2>

      <ul>
      <% @stre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
