<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pattern_type.name %>
</p>

<p>
  <strong>Pattern text:</strong>
  <%= @pattern_type.pattern_text %>
</p>

<%= link_to 'Edit', edit_pattern_type_path(@pattern_type) %> |
<%= link_to 'Back', pattern_types_path %>
